<h1><%= @user.first_name %>'s Profile Page</h2>

<h2>Bills</h2>
<ul>
	<% @bills.each do |bill|%>
	<li><%= link_to bill.title, "/bills/#{bill.id}" %><br>
		<%=bill.description%><br>
		<%=bill.cost_f%><br>
	<%end%>
	</li>
</ul>

<h2>Events</h2>
<ul>
	<% @events.each do |event|%>
	<li><%= link_to event.name, "/events/#{event.id}" %><br>
		<%=event.description%><br>
		<%=event.happen_at%><br>
	<%end%>
	</li>
</ul>

<h2>Chores</h2>
<%= link_to "+", new_chore_path, class:"new"%>
<ul>
	<% @chores.each do |chore|%>
	<% if current_user.id == chore.creator_id %>
		<li class= "creator"><%= link_to chore.name, "/chores/#{chore.id}" %><br>
	<% elsif current_user.participating_in_chore?(chore.id) %>
		<li class="participating"><%= link_to chore.name, "/chores/#{chore.id}" %><br>
	<% else %>
		<li><%= link_to chore.name, "/chores/#{chore.id}"%><br>
		
	<% end %>
		<%=chore.description%><br>
		<%=chore.happen_at%><br>
	<%end%>
	</li>
</ul>