<h1><%= @user.first_name %>'s Profile Page</h2>

<div class="all_things">

	<div id="bills_nav">
		<h2>Bills</h2>

		<h3><%= link_to "Create new bill", "/bills/new" %></h3><br>
		<% @bills.each do |bill|%>
		<tr>
		    <td><%= bill.title %></td>
		    <td><%= bill.description %></td>
		    <td><%= link_to "Show", bill %></td>
		    <td><%= link_to "Edit", edit_bill_path(bill) %></td>
		    <td><%= link_to "Remove", bill, method: :delete, data: { confirm: "Are you sure?" } %></td>
	  	</tr> <br><br>
		<%end%>
	</div>

	<div id= "events_nav">
		<h2>Events</h2>
		<h4><%= link_to "Create a new event!", new_event_path %></h4>
	
		<% @events.each do |event|%>
			<tr>
			    <td><%= event.name %></td>
			    <td><%= event.description %></td>
			    <td><%= link_to "Show", event %></td>
			    <td><%= link_to "Edit", edit_event_path(event) %></td>
			    <td><%= link_to "Remove", event, method: :delete, data: { confirm: "Are you sure?" } %></td>
	  		</tr> <br><br>
	  	<%end%>
			
	</div>

	<div id= "chores_nav">
		<h2>Chores</h2>
		<h4><%= link_to "Create a new chore!", new_chore_path %></h4>
	
		<ul>
			<%= current_user.chores.name %> 
		</ul>


		<% @chores.each do |chore|%>
			<tr>
			    <td><%= chore.name %></td>
			    <td><%= chore.description %></td>
			    <td><%= link_to "Show", chore %></td>
			    <td><%= link_to "Edit", edit_chore_path(chore) %></td>
			    <td><%= link_to "Remove", chore, method: :delete, data: { confirm: "Are you sure?" } %></td>
	  		</tr> <br><br>
	  	<%end%>
	</div>
	
</div>
