<h1><%= @user.first_name %>'s Profile Page</h2>

<div class="all_things">

	<div id="bills_nav">
		<h2>Bills</h2>
		<span class = "plus"><%= link_to "+", "/bills/new", class:"new"%></span>
		<% @bills.each do |bill|%>
		<tr>
		    <td><%= bill.title %></td>
		    <td><%= bill.description %></td>
		    <td><%= link_to "Show", bill %></td>
		    <td><%= link_to "Edit", edit_bill_path(bill) %></td>
		    <td><%= link_to "Remove", bill, method: :delete, data: { confirm: "Are you sure?" } %></td>
	  	</tr> <br><br>
		<%end%>
	</div>

	<div id= "events_nav">
		<h2>Events</h2>
		<span class = "plus"><%= link_to "+", new_event_path, class:"new"%></span>
	
		<% @events.each do |event|%>
			<tr>
			    <td><%= event.name %></td>
			    <td><%= event.description %></td>
			    <td><%= link_to "Show", event %></td>
			    <td><%= link_to "Edit", edit_event_path(event) %></td>
			    <td><%= link_to "Remove", event, method: :delete, data: { confirm: "Are you sure?" } %></td>
	  		</tr> <br><br>
	  	<%end%>
			
	</div>

	<div id= "chores_nav">
		<h2>Chores</h2>
			<span class = "plus"><%= link_to "+", new_chore_path, class:"new"%></span>
			<ul>
				<% @chores.each do |chore|%>
				<% if current_user.id == chore.creator_id %>
					<li class= "creator"><%= link_to chore.name, "/chores/#{chore.id}" %><br>
				<% elsif current_user.participating_in_chore?(chore.id) %>
					<li class="participating"><%= link_to chore.name, "/chores/#{chore.id}" %><br>
				<% else %>
					<li><%= link_to chore.name, "/chores/#{chore.id}"%><br>
					
				<% end %>
					<%=chore.description%><br>
					<%=chore.happen_at%><br>
				</li>
				<%end%>
			</ul>
	</div>
	
</div>
