<!DOCTYPE html>
<html>
<head>
  <title>RoomEez</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="nav">
		<h1>Room-eez</h1>
		<ul>
			<% if session[:user_id] %>
				<li><%= link_to "Dashboard", user_path(session[:user_id]) %></li>
				<li><a href="">Log Out<a>
					<%= link_to "Log Out", user_logout_path, method: 'destroy' %>
				</li>
			<% else %>
				<li><a href="/users/new">Sign Up<a></li>
				<li><a href="/sessions/new">Sign In<a></li>
			<% end %>
	</div>

	<%= yield %>

</body>
</html>
